<div class="dropdownContainer">
  <div class="navigation__container--userLogo">
    <div class="dropdownContent">
      <div>
        <div class="dropdownContent--user"></div>
        <p class="dropdownContent--user-text">Jason</p>
      </div>
      <div>
        <div class="dropdownContent--user dropdownContent--user-2"></div>
        <p class="dropdownContent--user-text">Freddy</p>
      </div>
      <div>
        <div class="dropdownContent--user dropdownContent--user-3"></div>
        <p class="dropdownContent--user-text">Micheal</p>
      </div>
      <p class="dropdownContent-text">Manage Profiles</p>

    </div>
    <div class="dropdownContent dropdownContent--2">
      <p class="dropdownContent-textOutside">Account</p>
      <p class="dropdownContent-textOutside">Help Center</p>
      <p class="dropdownContent-textOutside">Sign out of Netflix</p>
    </div>
  </div>
</div>
