* {
  box-sizing: border-box;
}

.search-container {
  float: right;
}

 input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 6px;
  margin-right: 16px;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
    margin-top: 4px;
}

.example-header-image {
  background-size: cover;
}

.title {
    font-weight: bold;
}

.img-article {
    height: 350px;
}

.action-buttons {
    text-align: center;
}

.example-container {
    width: 100%;
    height: auto;
    border: 1px solid rgba(111, 111, 111, 0.50);
}

.example-sidenav-content {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.source-name {
    margin-left:5px;
}

.list-item:hover {
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
}

.active {
  color: #3f51b5;
  font-weight: bold;
}
