<mat-toolbar color="primary">
    <button mat-button (click)="sidenav.open()" ><mat-icon>menu</mat-icon></button>
    <span>Drizzy Music Database</span>
    <span class="example-spacer"></span>
    <div class="search-container">
        <form>
          <input #search type="text" placeholder="Search artiste name">
          <button type="submit" (click)="searchArtiste(search.value)">
            <mat-icon>search</mat-icon>
          </button>
        </form>
    </div>
</mat-toolbar>
<ngx-spinner name="mySpinner"></ngx-spinner>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="side">
        <mat-list class="list-nav">
            <mat-list-item class="list-item" *ngFor="let item of items" (click)="setItem(item.idAlbum);sidenav.close();">
              <span class="source-name"> {{ item.strAlbum }} </span>
            </mat-list-item>
        </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card class="example-card"  *ngIf="(result | json) != '{}'">
      <mat-card-header>
        <img mat-card-avatar [src]="result.strAlbumThumb">
        <mat-card-title class="title">{{result.strAlbum}}</mat-card-title>
        <mat-card-subtitle>Released: {{result.intYearReleased}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image class="img-article" src={{result.strAlbumThumbHQ||result.strAlbumThumb}} alt="album art">
      <mat-card-content>
        <p>
          {{ result.strDescriptionEN }}
        </p>
      </mat-card-content>

      <mat-card-actions class="action-buttons">
        <button mat-button color="primary"><mat-icon>volume_up</mat-icon> {{ result.intSales }} Sold</button>
        <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
        <a mat-button color="primary" href="https://en.wikipedia.org/wiki/{{result.strWikipediaID}}" target="_blank" >
          <mat-icon>visibility</mat-icon> More
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
